/* pinched from https://bitsofco.de/github-contribution-graph-css-grid/ */

:root {
  --square-size: 11px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.weekdays { grid-area: weekdays; }
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months" "weekdays squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months { display: grid; }

.weekdays,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


.graph {
  font-size: 10px;
}

.weekdays > *:nth-child(odd) {
  visibility: hidden;
}

.day {
  background-color: #ebedf0;
}

.day[data-level="1"] {
  background-color: #9be9a8;
}

.day[data-level="2"] {
  background-color: #40c463;
}

.day[data-level="3"] {
  background-color: #30a14e;
}

.day[data-level="4"] {
  background-color: #216e39;
}

.day[data-editing-level="1"]:not([data-level]) {
  background: repeating-linear-gradient(
    -45deg,
    #ebedf0,
    #ebedf0 2px,
    #9be9a8 2px,
    #9be9a8 4px
  );
}

.day[data-editing-level="2"]:not([data-level]) {
  background: repeating-linear-gradient(
    -45deg,
    #ebedf0,
    #ebedf0 2px,
    #40c463 2px,
    #40c463 4px
  );
}

.day[data-editing-level="3"]:not([data-level]) {
  background: repeating-linear-gradient(
    -45deg,
    #ebedf0,
    #ebedf0 2px,
    #30a14e 2px,
    #30a14e 4px
  );
}

.day[data-editing-level="4"]:not([data-level]) {
  background: repeating-linear-gradient(
    -45deg,
    #ebedf0,
    #ebedf0 2px,
    #216e39 2px,
    #216e39 4px
  );
}

.day[data-editing-level="1"][data-level="1"] {
  background-color: #9be9a8;
}

.day[data-editing-level="2"][data-level="1"] {
  background: repeating-linear-gradient(
    -45deg,
    #9be9a8,
    #9be9a8 2px,
    #40c463 2px,
    #40c463 4px
  );
}

.day[data-editing-level="3"][data-level="1"] {
  background: repeating-linear-gradient(
    -45deg,
    #9be9a8,
    #9be9a8 2px,
    #30a14e 2px,
    #30a14e 4px
  );
}

.day[data-editing-level="4"][data-level="1"] {
  background: repeating-linear-gradient(
    -45deg,
    #9be9a8,
    #9be9a8 2px,
    #216e39 2px,
    #216e39 4px
  );
}

.day[data-editing-level="1"][data-level="2"] {
  background: repeating-linear-gradient(
    -45deg,
    #40c463,
    #40c463 2px,
    #9be9a8 2px,
    #9be9a8 4px
  );
}

.day[data-editing-level="2"][data-level="2"] {
  background-color: #40c463;
}

.day[data-editing-level="3"][data-level="2"] {
  background: repeating-linear-gradient(
    -45deg,
    #40c463,
    #40c463 2px,
    #30a14e 2px,
    #30a14e 4px
  );
}

.day[data-editing-level="4"][data-level="2"] {
  background: repeating-linear-gradient(
    -45deg,
    #40c463,
    #40c463 2px,
    #216e39 2px,
    #216e39 4px
  );
}

.day[data-editing-level="1"][data-level="3"] {
  background: repeating-linear-gradient(
    -45deg,
    #30a14e,
    #30a14e 2px,
    #9be9a8 2px,
    #9be9a8 4px
  );
}

.day[data-editing-level="2"][data-level="3"] {
  background: repeating-linear-gradient(
    -45deg,
    #30a14e,
    #30a14e 2px,
    #40c463 2px,
    #40c463 4px
  );
}

.day[data-editing-level="3"][data-level="3"] {
  background-color: #30a14e;
}

.day[data-editing-level="4"][data-level="3"] {
  background: repeating-linear-gradient(
    -45deg,
    #30a14e,
    #30a14e 2px,
    #216e39 2px,
    #216e39 4px
  );
}

.day[data-editing-level="1"][data-level="4"] {
  background: repeating-linear-gradient(
    -45deg,
    #216e39,
    #216e39 2px,
    #9be9a8 2px,
    #9be9a8 4px
  );
}

.day[data-editing-level="2"][data-level="4"] {
  background: repeating-linear-gradient(
    -45deg,
    #216e39,
    #216e39 2px,
    #40c463 2px,
    #40c463 4px
  );
}

.day[data-editing-level="3"][data-level="4"] {
  background: repeating-linear-gradient(
    -45deg,
    #216e39,
    #216e39 2px,
    #30a14e 2px,
    #30a14e 4px
  );
}

.day[data-editing-level="4"][data-level="4"] {
  background-color: #216e39;
}

/* to make the heatmap fit in a half-screen window */
.container-heatmap { max-width: 900px !important; }

.heatmap:hover .heatmap_link,
.heatmap_link:hover {
  opacity: 1;
  color: #ccc;
}

.heatmap_link {
  color: #ccc;
  font-size: 20px;
  padding: 5px;
  opacity: 0.3;
}

.heatmap-legend { margin-top: 15px; }

.heatmap-legend .day {
  border-radius: 3px;
  width: 11px;
  height: 11px;
}

.heatmap-legend > * { margin: 3px; }

@media (max-width: 900px) {
  .graph-container { overflow-x: scroll; }
}
