:root { font-size: 14px; }
a { color: #337ab7; }
.book-select { width: 100%; }
.icon--green { color: green; }
.icon--sheer { opacity: 0.2; }
.icon--sheer:hover { opacity: 1; }
.icon--clickable { cursor: pointer; }
.--clickable { cursor: pointer; }
@media (min-width: 33rem) {
  .display-if-narrow { display: none; }
}
@media (max-width: 32.999rem) {
  .display-if-wide { display: none; }
}
.msg-no-translations { margin-top: 20px; }
.editable-error-block { color: red; } /* bootstrap-editable */
.aligner-table {
  font-size: 16px;
  border-collapse: separate;
}
.aligner-column { border-top: none !important; }
.aligner-column-left,
.aligner-column-right {
  width: 50%;
  border-bottom: 1px dashed #777;
}
.aligner-row__icon-remove {
  color: black;
  opacity: 0;
  cursor: pointer;
}
.aligner-row:hover .aligner-row__icon-remove { opacity: 0.2; }
.aligner-row:hover .aligner-row__icon-remove:hover { opacity: 1.0; }
.aligner-table span:hover {
  background-color: #adff2f;
  border-left: 2px solid black;
  padding-left: 5px;
}
.aligner-table span:hover:not(:first-child) { margin-left: 5px; }
.aligner-pager__page-input {
  height: 27px;
  padding: 0;
  text-align: right;
}
.aligner-pager-form { display: inline-block; }
.aligner-pager__button-prev {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  padding-left: 10px !important;
}
.aligner-pager__button-next {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  padding-right: 10px !important;
}
.diff { border-collapse: collapse; }
.diff-row {
  border-top: 1px dashed #777;
  border-bottom: 1px dashed #777;
}
.diff__added0 { background-color: #d6ffe2; }
.diff__added1,
.diff__added0 .diff__added1 {
  background-color: #acf2bd;
}
.diff__removed0 { background-color: #ffdee2; }
.diff__removed1,
.diff__removed0 .diff__removed1 {
  background-color: #fdb8c0;
}
.diff__removed2 {
  background-color: #ffdee2;
  text-decoration: line-through;
}
.link--gray,
.link--gray:hover {
  color: #bbb;
}
.link--white,
.link--white:hover {
  color: white;
}
.read__fragment--active,
.read__fragment:hover {
  background-color: #fffbd5;
}
.popper {
  position: absolute;
  background-color: #a5a5a5;
  color: white;
  border-radius: 3px;
  padding: 10px;
  z-index: 1;
}
.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
}
.popper .popper__arrow { border-color: #a5a5a5; }
.popper[x-placement^="top"] { margin-bottom: 10px; }
.popper[x-placement^="top"] .popper__arrow {
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -10px;
  left: calc(50% - 20px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"] { margin-top: 10px; }
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -10px;
  left: calc(50% - 20px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] { margin-left: 10px; }
.popper[x-placement^="right"] .popper__arrow {
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -10px;
  top: calc(50% - 20px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"] { margin-right: 10px; }
.popper[x-placement^="left"] .popper__arrow {
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: calc(50% - 20px);
  margin-left: 0;
  margin-right: 0;
}
.popper--sheer { opacity: 0.3; }
.popper--sheer:hover { opacity: 1; }
.link--underlined { text-decoration: underline; }
.marked {
   background-color: orange;
   padding: 0;
 }
.glossary__input-term,
.glossary__input-def {
  padding: 0 7px;
  border-width: 0;
}
.glossary-term {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: sienna;
}
.translator { table-layout: fixed; }
.translator-header {
  background-color: #a5a5a5;
  border-bottom: none !important;
  border-top: none !important;
  padding: 10px 3px !important;
  text-align: left;
  color: white;
}
.translator-header--narrow { width: 27px; }
.translator-header--wide { width: calc(100% - 3*27px); }
.translator-header:first-child { border-top-left-radius: 10px; }
.translator-header:last-child { border-top-right-radius: 10px; }
.translator-column-star,
.translator-column-middle,
.translator-column-comment {
  background-color: #eee;
}
.commentary { display: none; }
.commentary.shown { display: table-row; }
.prev-book__icon,
.next-book__icon {
  color: #333;
}
.translator__fragment-permalink,
a.translator__fragment-permalink {
  font-size: 11px;
  color: #bbb;
  text-decoration: underline;
}
.translator-row:not(:first-child) { border-top: 1px solid #7f7f7f; }
@media (max-width: 800px) {
  .container .big-screen-only { display: none; }
}
.fa-comment,
.fa-star {
  opacity: 1 !important;
}
.character-counter { color: #bbb; }
.character-counter:hover { color: #888; }
.translator-row--highlighted { background-color: #ffffb2; }
.translator-row--highlighted .translator-column-star,
.translator-row--highlighted .translator-column-middle,
.translator-row--highlighted .translator-column-comment {
  background-color: #eeeea6;
}
.full-width-textarea {
  width: calc(100% - .5rem);
  padding: 4px 6px;
}
.page-loading-indicator {
  font-size: 2.5rem;
  margin-left: -2.5rem;
  transition: opacity .3s;
}
.tooltip-inner { background-color: #a5a5a5; }
.progress__percent { font-style: normal; }
.btn--rounded-left {
  border-top-left-radius: .214rem !important;
  border-bottom-left-radius: .214rem !important;
}
.commentary-cell { border-top: none !important; }
a,
.page-link {
  color: #337ab7;
}
.found {
  background-color: yellow;
  padding: 0;
}
.translation:not(:first-child),
.translation-editing:not(:first-child) {
  border-top: 1px solid #d9d9d9;
}
.translator-row:nth-last-child(2) { border-bottom: 1px solid #7f7f7f; }
.translator__read-link { color: #333; }
.index-column-complete { width: 1px; }
.title-filter-header { cursor: pointer; }
.hide-marks mark { background-color: transparent; }
.page-link.page-link-next {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.page-link.page-link-prev {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.dropdown-item:active {
  color: #16181b !important;
  background-color: #f8f9fa !important;
}
.text--dark { color: #333 !important; }
.text--underlined-dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.translator-progress {
  width: 150px;
  height: 22px;
  margin-top: 1px;
  padding: 2px 5px;
  font-size: 12px;
}
/* -xs sizes */
.btn-group-xs > .btn,
.btn-xs,
.pagination-xs .page-link {
  padding: .0714rem .357rem;
  font-size: .857rem;
  line-height: 1.5;
  border-radius: .214rem;
}
.bq--limited-height {
  max-height: 150px;
  overflow: auto;
}
.nav-active-sublink,
.nav-active-sublink:hover {
  color: #495057;
  text-decoration: none;
}
#panel-dictionary-content {
  background-color: beige;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sticky-pills .nav-item .fa-spinner { display: none; }
.sticky-pills .nav-item.loading .nav-link:not(.active) .fa-spinner {
  display: inline-block;
}
.sticky-pills .nav-item .fa-exclamation { display: none; }
.sticky-pills .nav-item.error .nav-link:not(.active) .fa-exclamation {
  display: inline-block;
  color: red;
}
.sticky-pills .nav-link {
  font-size: 12px;
  padding: 1px 5px;
  cursor: pointer;
}
.sticky-pills .nav-link.active:hover { color: white; }
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #a5a5a5;
}
.sticky-pills .nav-item { user-select: none; }
.sticky-pills .nav-item:last-child { margin-right: 45px; }
.sticky-tab-pages {
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}
.sticky-pills {
  background-color: #e9f5dc;
  border-bottom: 3px double #333;
}
.sticky-page { display: none; }
.sticky-page.active { display: block; }
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #a5a5a5;
}
.tooltip.bottom .tooltip-arrow { border-bottom-color: #a5a5a5; }
.translator .fa:hover { color: #d69d00; }
.translator-row:hover .icon--sheer { opacity: 1; }
.translator:not(.show-orig-toolbox) .button-edit-orig,
.translator:not(.show-orig-toolbox) .button-add-orig,
.translator:not(.show-orig-toolbox) .button-remove-orig {
  display: none;
}
.tab-book-title .fa { color: #333; cursor: default; }
.tab-book-title a .fa { opacity: 0.2; }
.tab-book-title a[href] .fa {
  opacity: 1;
  cursor: pointer;
}
.tab-book-title a { outline: none; }
.popper .fa:hover { color: #cde; }
.button-add-term,
.button-mark,
.button-lookup-selection {
  user-select: none;
}
.machine-translation-toolbar { color: #333; }
.header-progress {
  position: sticky;
  height: 3px;
  top: 0;
  transition: height .1s ease-in-out;
  z-index: 1;
}
.header-progress:hover { height: 7px; }
.tooltip--black.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip--black.bs-tooltip-bottom .arrow::before {
  border-bottom-color: black;
}
.tooltip--black.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip--black.bs-tooltip-top .arrow::before {
  border-top-color: black;
}
.tooltip--black .tooltip-inner { background-color: black; }
.container.translator-container { max-width: 720px; }
#sidebar-left,
#sidebar-right {
  margin: 10px;
  width: calc( (100vw - 720px) / 2 - 60px );
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}
#sidebar-left:focus,
#sidebar-right:focus {
  outline: 0px solid transparent;
}
#sidebar-left { left: 0; }
#sidebar-right { right: 0; }
@media(max-width: 1338px) { /* see tl_test.go */
  #sidebar-left, #sidebar-right { display: none; }
}
#panel-dictionary-content.collapse { display: none; }
#panel-dictionary-content.collapse.show { display: flex; }
.fuzzy-match__percent {
  font-size: small;
  padding: 3px;
  border-radius: 5px;
}
.fuzzy-match__fragment-permalink,
a.fuzzy-match__fragment-permalink {
  color: #bbb;
  text-decoration: underline;
}
.mt-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: beige;
  border: 1px solid #ccc;
  font-size: x-small;
}
.mt-engine {
  font-size: small;
  color: #a5a5a5;
  margin-left: 5px;
}
.progress-bar-label { top: 12px; }
.w-3rem { width: 3rem !important; }
.w-4rem { width: 4rem !important; }
.author-username {
  color: #2d7fa0;
  font-size: x-small;
}
