.table.table-borderless > thead > tr > th { border: none; }
.table.table-borderless > tbody > tr > td { border: none; }
.translator tr:not(:first-child) td { border-top: 1px solid #7f7f7f !important; }
.translator tr:first-child td { border-top: none !important; }
.translator tr:nth-last-child(2) td { border-bottom: 1px solid #7f7f7f !important; }
.translator tr.commentary td { border-top: none !important; }
.translator td.o,
.translator td.t {
  padding: 0;
}
.translator thead th:first-child { border-top-left-radius: 10px; }
.translator thead th:last-child { border-top-right-radius: 10px; }
.translator thead th {
  background-color: #a5a5a5;
  border-bottom: none !important;
  padding: 10px 3px;
  text-align: left;
  color: white;
}
.translator td.col-first,
.translator td.col-middle,
.translator td.col-last {
  background-color: #eee;
}
.fa { cursor: pointer; }
.translator td.o,
.translator td.t {
  width: 50%;
}
.translator td.t > * { border-bottom: 1px solid #d9d9d9; }
.translator .text {
  padding: 6px 6px;
  margin-bottom: 0;
}
.editing .buttons {
  margin-bottom: 6px;
  margin-left: 9px;
}
.editing .alert-container { padding: 0 6px; }
.editing textarea,
.commentary-form textarea {
  width: 100%;
  padding: 4px 6px;
}
.alert-container .alert { margin-bottom: 0; }
td.o > div,
td.t > div[id^=v] {
  display: flex;
}
td.o .text,
td.t .text {
  flex-grow: 1;
  overflow: auto;
}
td.o .toolbox,
td.t .toolbox {
  flex-shrink: 0;
  /*background-color: #f8f8f8;*/
  padding: 6px 6px;
}
td.o .toolbox i:not(.x-expand),
td.t .toolbox i {
  padding: 6px 6px;
}
td.o .toolbox i.x-expand { padding: 6px 0; }
td.t > div:last-child { border: none; }
.translator:not(.show-orig-toolbox) td.o .toolbox .x-edit-orig,
.translator:not(.show-orig-toolbox) td.o .toolbox .x-add-orig,
.translator:not(.show-orig-toolbox) td.o .toolbox .x-remove-orig {
  display: none;
}
.nav-tabs > li:first-child.active { margin-left: 12px; }
.translator .fa,
.edit-title.fa,
.fa-window-restore {
  opacity: 0.2;
}
.translator .popover-content .fa { opacity: 1; }
.translator tr:hover .fa { opacity: 1; }
.translator .fa:hover,
.starred .fa:hover {
  color: #d69d00;
  opacity: 1;
}
.fa:hover,
.fa.fa-comment {
  color: #333;
  opacity: 1;
}
.pagination > li > span { color: gray !important; }
.button-remove:hover {
  color: white;
  background-color: #c9302c;
  border-color: #ac2925;
}
.comment-form textarea[disabled] { border: none; }
.btn-group .progress { text-align: center; }
.pagination.pagination-xs { margin: 0; }
.pagination-xs > li > a, .pagination-xs > li > span {
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
  border-radius: 3px;
}
.btn-group .progress span {
  display: inline-block;
  margin-top: 2px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.btn-group .progress {
  float: left;
  font-size: 12px;
  height: 22px;
  line-height: 1.5;
  padding: 2px 5px;
  text-align: center;
  width: 150px;
  position: relative;
}
.button-filter { border-radius: 4px !important; }
.pager > li > span { color: gray; }
.comment-form textarea[disabled] { background-color: white; }
.translator .permalink {
  font-size: 11px;
  color: #bbb;
  margin-left: 6px;
  text-decoration: underline;
}
.translator .permalink:hover { color: #bbb; }
.translator tr.highlight { background-color: #ffffb2; }
.translator tr.highlight td:first-child,
.translator tr.highlight td:nth-child(3),
.translator tr.highlight td:nth-child(5) {
  background-color: #eeeea6;
}
.dropdown-menu.dropdown-filter {
  padding: 15px 15px 5px;
  font-size: 13px;
  line-height: 18px;
  white-space: nowrap;
}
.dropdown-menu.dropdown-filter li { margin: 0 0 12px; }
.dropdown-menu.dropdown-filter li:not(:last-child) a { text-decoration: underline; }
#top-form label { font-weight: normal; }
.comment-form .icon-close {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #bbb;
}
.comment-form .icon-close:hover { color: #666; }
.image-link > i {
  color: #333;
  opacity: 0.2;
}
.image-link:hover > i {
  color: #333;
  opacity: 1;
}
.clear-filter-link > i { margin-top: 5px; }
.translator mark {
  background-color: yellow;
  padding: 0;
}
.modal-dialog mark {
  background-color: inherit !important;
  padding: 0 !important;
}
.pagination > li > span:hover { background-color: #fff !important; }
.progress > span > a:not(:hover) { color: #333; }
#container.container-fluid > h1,
#container.container-fluid > nav {
  display: none;
}
.progress i.percent { font-style: normal; }
.tr_counts {
  margin-left: 9px;
  color: #bbb;
}
.tr_counts:hover { color: #888; }
.starred blockquote {
  border-left: none;
  font-size: inherit;
}
.dropdown-menu.dropdown-export li a:hover { background-color: #bbb; }
.complete {
  color: green !important;
  cursor: default;
}
td.complete-col { width: 1px; }
tr.commentary { display: none; }
tr.commentary.shown { display: table-row; }
.read-container .fragments > p:hover,
.read-container .fragments > p.active {
  background-color: #fffbd5;
}
.popper {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 10px;
  z-index: 1;
}
.popper a.permalink { color: white; }
.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
}
.popper .popper__arrow { border-color: black; }
.popper[x-placement^="top"] { margin-bottom: 10px; }
.popper[x-placement^="top"] .popper__arrow {
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -10px;
  left: calc(50% - 20px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"] { margin-top: 10px; }
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -10px;
  left: calc(50% - 20px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] { margin-left: 10px; }
.popper[x-placement^="right"] .popper__arrow {
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -10px;
  top: calc(50% - 20px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"] { margin-right: 10px; }
.popper[x-placement^="left"] .popper__arrow {
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: calc(50% - 20px);
  margin-left: 0;
  margin-right: 0;
}
.table.aligner-table > tbody > tr > td { border-top: none; }
.aligner-table { font-size: 16px; }
.aligner-table { border-collapse: separate; }
.aligner-table td:not(:first-child) {
  width: 50%;
  border-bottom: 1px dashed #777;
}
.aligner-table .icon-remove {
  color: black;
  opacity: 0;
  cursor: pointer;
}
.aligner-table tr:hover .icon-remove { opacity: 0.5; }
.aligner-table td:first-child > .icon-remove:hover { opacity: 1.0; }
.aligner-table span:hover {
  background-color: #adff2f;
  border-left: 2px solid black;
  padding-left: 5px;
}
.aligner-table span:hover:not(:first-child) { margin-left: 5px; }
.aligner-toolbar { margin-top: 20px; }
.aligner-pager > form { display: inline-block; }
.aligner-pager .btn[rel="prev"] {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
}
.aligner-pager .btn[rel="next"] {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
}
.aligner .page-input {
  height: 21px;
  padding: 0;
  text-align: right;
}
.aligner-table .left span:not(:first-child):before,
.aligner-table .right span:not(:first-child):before {
  content: " ";
}
.aligner-help {
  margin-left: 20px;
  color: grey;
}
.aligner .aligner-help { visibility: hidden; }
.aligner:hover .aligner-help { visibility: visible; }
.commentary blockquote { font-size: 14px; }
a[data-id],
a.similar {
  cursor: pointer;
}
a[data-id]:hover,
a[data-id]:focus,
a.similar:hover,
a.similar:focus {
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  width: 400px;
  min-height: 3px;
  z-index: 999;
}
.sticky .header { font-weight: bold; }
.sticky .footer [data-id]:not(:first-child):before { content: ", "; }
.sticky:not(:hover):not(.pinned) { background-color: #a5a5a5; }
.sticky:not(:hover):not(.pinned) > * { display: none; }
.sticky .sticky-content {
  background-color: beige;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sticky .sticky-content > div {
  max-height: 600px;
  overflow: auto;
  padding: 10px;
}
.sticky-pin-button,
.sticky-back-button {
  position: absolute;
  top: 13px;
  color: darkgray;
}
.sticky-pin-button { right: 15px; }
.sticky.pinned .sticky-pin-button { color: black; }
.sticky .sticky-back-button {
  right: 30px;
  display: none;
}
.sticky:hover .sticky-back-button.active,
.sticky.pinned .sticky-back-button.active {
  display: inline;
}
.oxford-dictionaries .iteration,
.oxford-dictionaries .subsenseIteration {
  font-weight: bold;
}
.oxford-dictionaries .subSenses { margin: 12px; }
.oxford-dictionaries .iteration,
.oxford-dictionaries .subsenseIteration {
  margin-right: 12px;
}
.oxford-dictionaries ul,
.oxford-dictionaries ol {
  list-style: none;
  padding-left: 0;
}
.oxford-dictionaries .form-groups:before { content: "("; }
.oxford-dictionaries .form-groups:after { content: ") "; }
.oxford-dictionaries .examples .exg,
.oxford-dictionaries .synonyms .exg {
  display: none;
}
.oxford-dictionaries .moreInfo.active + .exg { display: block; }
.oxford-dictionaries .moreInfo.active button {
  background-color: #666666;
  border-color: #666666;
  color: white;
}
.oxford-dictionaries .exg { margin: 4px 0 7px; }
.oxford-dictionaries .synonyms,
.oxford-dictionaries .examples,
.oxford-dictionaries .synonyms .moreInfo,
.oxford-dictionaries .examples .moreInfo {
  display: inline;
  margin-right: 5px;
}
.oxford-dictionaries .gramb .ps,
.oxford-dictionaries .pronSection .ps {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #f15a24;
  font-size: 16px;
}
.oxford-dictionaries .subSenses { margin-top: 7px; }
.oxford-dictionaries .sense-regions { margin-right: 7px; }
.oxford-dictionaries .sense-regions,
.oxford-dictionaries .sense-registers {
  font-style: italic;
  color: #27a058;
  font-style: italic;
}
.oxford-dictionaries .transitivity {
  font-weight: bold;
  color: #304e70;
  text-transform: uppercase;
  display: block;
}
.oxford-dictionaries .pron h2 {
  display: inline;
  margin-right: 10px;
  font-size: medium;
}
.oxford-dictionaries .moreInfo button {
  border: 2px solid #dbdee2;
  color: #666666;
  padding: 2px 8px 3px 8px;
  border-radius: 13px;
}
.oxford-dictionaries .moreInfo button:focus { outline: none; }
.oxford-dictionaries .moreInfo:not(.active) button:hover {
  background-color: #dbdee2;
  border-color: #dbdee2;
}
.oxford-dictionaries .moreInfo + .exg .ex {
  padding: 0 0 9px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ddd;
}
.oxford-dictionaries .grammatical_note {
  color: #27a058;
  font-style: italic;
}
.oxford-dictionaries .grammatical_note:before { content: "["; }
.oxford-dictionaries .grammatical_note:after { content: "]"; }
.oxford-dictionaries > h2:first-child { margin-top: 0; }
.oxford-dictionaries .gramb .ps .pos-inflections {
  color: #2a2a2a;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: initial;
}
.oxford-dictionaries .gramb .ps .pos-inflections:before { content: " ("; }
.oxford-dictionaries .gramb .ps .pos-inflections:after { content: ")"; }
.oxford-dictionaries .gramb .ps .pos-inflections .inflection-text { font-weight: bold; }
.oxford-dictionaries .phoneticSpelling { margin: 0 5px; }
.oxford-dictionaries .pronSection span { margin-left: 7px; }
.oxford-dictionaries .gramb .ps .pos,
.oxford-dictionaries .pronSection .ps {
  font-weight: bold;
}
.oxford-dictionaries .gramb .semb p.note {
  padding-left: 10px;
  border-left: 3px solid #ccc;
}
.oxford-dictionaries .gramb ul.semb > li { margin-bottom: 12px; }
.oxford-dictionaries a.similar:not(:first-child):before { content: ", "; }
.nav.nav-xs > li > a {
  font-size: 12px;
  padding: 1px 5px;
}
.sticky .nav {
  padding: 10px;
  background-color: #e9f5dc;
  border-bottom: 3px double #333;
}
.sticky .nav > li > a { cursor: pointer; }
.sticky-page { display: none; }
.sticky-page.active { display: block; }
.tooltip-inner { background-color: #a5a5a5; }
.tooltip-inner input { color: #333; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #a5a5a5; }
