.oxford-dictionaries .iteration,
.oxford-dictionaries .subsenseIteration {
  font-weight: bold;
}
.oxford-dictionaries .subSenses { margin: 12px; }
.oxford-dictionaries .iteration,
.oxford-dictionaries .subsenseIteration {
  margin-right: 12px;
}
.oxford-dictionaries ul,
.oxford-dictionaries ol {
  list-style: none;
  padding-left: 0;
}
.oxford-dictionaries .form-groups:before { content: "("; }
.oxford-dictionaries .form-groups:after { content: ") "; }
.oxford-dictionaries .examples .exg,
.oxford-dictionaries .synonyms .exg {
  display: none;
}
.oxford-dictionaries .moreInfo.active + .exg { display: block; }
.oxford-dictionaries .moreInfo.active button {
  background-color: #666666;
  border-color: #666666;
  color: white;
}
.oxford-dictionaries .exg { margin: 4px 0 7px; }
.oxford-dictionaries .synonyms,
.oxford-dictionaries .examples,
.oxford-dictionaries .synonyms .moreInfo,
.oxford-dictionaries .examples .moreInfo {
  display: inline;
  margin-right: 5px;
}
.oxford-dictionaries .gramb .ps,
.oxford-dictionaries .pronSection .ps {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #f15a24;
  font-size: 16px;
}
.oxford-dictionaries .subSenses { margin-top: 7px; }
.oxford-dictionaries .sense-regions { margin-right: 7px; }
.oxford-dictionaries .sense-regions,
.oxford-dictionaries .subsense-regions,
.oxford-dictionaries .sense-registers {
  font-style: italic;
  color: #27a058;
  font-style: italic;
}
.oxford-dictionaries .transitivity {
  font-weight: bold;
  color: #304e70;
  text-transform: uppercase;
  display: block;
}
.oxford-dictionaries .pron h2 {
  display: inline;
  margin-right: 10px;
  font-size: medium;
}
.oxford-dictionaries .moreInfo button {
  border: 2px solid #dbdee2;
  color: #666666;
  padding: 2px 8px 3px 8px;
  border-radius: 13px;
}
.oxford-dictionaries .moreInfo button:focus { outline: none; }
.oxford-dictionaries .moreInfo:not(.active) button:hover {
  background-color: #dbdee2;
  border-color: #dbdee2;
}
.oxford-dictionaries .moreInfo + .exg .ex {
  padding: 0 0 9px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ddd;
}
.oxford-dictionaries .grammatical_note {
  color: #27a058;
  font-style: italic;
}
.oxford-dictionaries .grammatical_note:before { content: "["; }
.oxford-dictionaries .grammatical_note:after { content: "]"; }
.oxford-dictionaries > h2:first-child { margin-top: 0; }
.oxford-dictionaries .gramb .ps .pos-inflections {
  color: #2a2a2a;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: initial;
}
.oxford-dictionaries .gramb .ps .pos-inflections:before { content: " ("; }
.oxford-dictionaries .gramb .ps .pos-inflections:after { content: ")"; }
.oxford-dictionaries .gramb .ps .pos-inflections .inflection-text { font-weight: bold; }
.oxford-dictionaries .phoneticSpelling { margin: 0 5px; }
.oxford-dictionaries .pronSection span { margin-left: 7px; }
.oxford-dictionaries .gramb .ps .pos,
.oxford-dictionaries .pronSection .ps {
  font-weight: bold;
}
.oxford-dictionaries .gramb .semb p.note {
  padding-left: 10px;
  border-left: 3px solid #ccc;
}
.oxford-dictionaries .gramb ul.semb > li { margin-bottom: 12px; }
.oxford-dictionaries a.similar:not(:first-child):before,
.urbandictionary a.similar:not(:first-child):before {
  content: ", ";
}

.urbandictionary a.similar:not(:first-child):before {
  content: ", ";
}
.urbandictionary .def-panel:not(:first-child) { margin-top: 10px; }
.urbandictionary .example {
  margin-top: 10px;
  font-style: italic;
  color: chocolate;
  border-left: 3px solid lightgray;
  padding-left: 5px;
}
.urbandictionary a {
  cursor: pointer;
  text-decoration: none;
}

.epithets > article > h1 { margin-top: 0px; }
.epithets-styled { color: cadetblue; }

.multitran span.text-muted > span { color: #333; }

.thefreedictionary section:first-child h2 { margin-top: 0; }
.thefreedictionary .illustration { color: #966A00; }
.thefreedictionary .link {
  color: #337ab7;
  cursor: pointer;
}

.concordance table th { border-top: none; }
.concordance mark {
  background-color: #ffffb9;
  padding: 0;
}
a[data-id],
a.similar,
a[morph] {
  cursor: pointer;
}
a[data-id]:hover,
a[data-id]:focus,
a.similar:hover,
a.similar:focus,
a[morph]:hover,
a[morph]:focus
{
  text-decoration: none;
}
#panel-dictionary-content .footer [data-id]:not(:first-child):before { content: ", "; }
.kartaslov-synonyms .synRepeat { color: #aaa; }
.kartaslov-synonyms .syn { cursor: pointer; }
.morph-variant { cursor: pointer; }
.reverso-context .example {
  display: table;
  width: 100%;
}
.reverso-context .example:not(:first-child) {
  border-top: 1px dashed #b3bdc3;
}
.reverso-context em { background-color: #ffffb9; }
.concordance mark { background-color: #ffffb9; }
.reverso-context .src,
.reverso-context .trg {
  width: 50%;
  display: inline-block;
  padding: 10px 12px 14px;
  vertical-align: top;
  float: left;
}
.academic-header,
.kartaslov-header {
  font-weight: bold;
}
.academic-see-also,
.kartaslov-see-also {
  font-weight: bold;
  color: #999;
}
.academic-see-also a.see-also,
.kartaslov-see-also a.see-also {
  font-weight: normal;
  color: cadetblue;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}
.academic-see-also a.see-also:not(:last-child):after,
.kartaslov-see-also a.see-also:not(:last-child):after {
  content: ", ";
}
