<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/my.css">
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Add translation</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li>
            <a href="/">Index</a>
          </li>
          <li class="active">
            <a href="/add">Add translation</a>
          </li>
        </ul>
      </nav>

      <br>

      {{ range .Errors }}
        <div class="alert alert-danger alert-dismissible">
          <strong>Error!</strong> {{ . }}
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
        </div>
      {{ end }}

      <ul class="nav nav-tabs">
        <li class="{{ if eq .Type "plaintext" }}active{{ end }}">
          <a href="/add">Plain text</a>
        </li>
        <li class="{{ if eq .Type "csv" }}active{{ end }}">
          <a href="/add?type=csv">CSV</a>
        </li>
        <li class="{{ if eq .Type "json" }}active{{ end }}">
          <a href="/add?type=json">JSON</a>
        </li>
      </ul>

      {{ if eq .Type "plaintext" }}
        <form class="form-horizontal" action="/add" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input id="title" name="title" type="text" class="form-control" placeholder="New translation" value="{{ .Title }}" autofocus>
          </div>
          <div class="form-group">
            <label for="content" class="control-label">Content:</label>
            <textarea id="content" name="content" class="form-control" rows="15" spellcheck="false"></textarea>
          </div>
          <div class="form-group">
            <input type="checkbox" id="autotranslate" name="autotranslate" checked>
            <label for="autotranslate" class="control-label">Auto-translate fragments w/o letters</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default pull-right">
              Add
            </button>
          </div>
        </form>
      {{ end }}

      {{ if or (eq .Type "csv") (eq .Type "json") }}
        <form class="form-horizontal" action="/add/{{ .Type }}" method="POST" enctype="multipart/form-data">
          {{ if ne .Type "json" }}
            <div class="form-group">
              <label for="title" class="control-label">Title:</label>
              <input id="title" name="title" type="text" class="form-control" placeholder="Title" value="{{ .Title }}" autofocus>
            </div>
          {{ else }}<br>
          {{ end }}
          <div class="form-group">
            <input name="{{ .Type }}file" type="file">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default pull-right">
              Add
            </button>
          </div>
        </form>
      {{ end }}
    </div>
  </body>
</html>
