<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <script src="{{ requirejs_path }}"></script>
    <script>
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        shim: {
          'bootbox': ['bootstrap'],
        },
        waitSeconds: 0,
      });
      require(['bootstrap']);
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Add translation</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/add">Add translation</a>
          </li>
        </ul>
      </nav>

      {{ range .Errors }}
        <div class="alert alert-danger alert-dismissible mt-3">
          <strong>Error!</strong> {{ . }}
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
        </div>
      {{ end }}

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link link-plaintext {{ if eq .Type "plaintext" }}active{{ end }}" href="/add">Plain text</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-csv {{ if eq .Type "csv" }}active{{ end }}" href="/add?type=csv">CSV / TSV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-json {{ if eq .Type "json" }}active{{ end }}" href="/add?type=json">JSON</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-notabenoid {{ if eq .Type "notabenoid" }}active{{ end }}" href="/add?type=notabenoid">Notabenoid</a>
        </li>
      </ul>

      <div class="mt-3">

      {{ if eq .Type "plaintext" }}
        <form class="form-horizontal form-add-book-plaintext" action="/add" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input id="title" name="title" type="text" class="form-control" placeholder="New translation" value="{{ .Title }}" autofocus>
          </div>
          <div class="form-group">
            <label for="content" class="control-label">Content:</label>
            <textarea id="content" name="content" class="form-control" rows="15" spellcheck="false"></textarea>
          </div>
          <div class="form-group">
            <input type="checkbox" id="autotranslate" name="autotranslate" checked>
            <label for="autotranslate" class="control-label">Auto-translate fragments w/o letters</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-light float-right">
              Add
            </button>
          </div>
        </form>
      {{ end }}

      {{ if or (eq .Type "csv") (eq .Type "json") }}
        <form class="form-horizontal form-add-book-{{ .Type }}" action="/add/{{ .Type }}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="type" value="{{ .Type}}"></input>
          {{ if ne .Type "json" }}
            <div class="form-group">
              <label for="title" class="control-label">Title:</label>
              <input id="title" name="title" type="text" class="form-control" placeholder="Title" value="{{ .Title }}" autofocus>
            </div>
          {{ else }}<br>
          {{ end }}
          <div class="form-group">
            <input id="{{ .Type }}file" name="{{ .Type }}file" type="file">
          </div>
          {{ if eq .Type "csv" }}
            <div class="form-group">
              Separator:
              <select id="separator" name="separator">
                <option value="," selected>,</option>
                <option value=";">;</option>
                <option value="&#9;">TAB</option>
              </select>
            </div>
          {{ end }}
          <div class="form-group">
            <button type="submit" class="btn btn-light float-right form-add-book-{{ .Type}}__button-submit">
              Add
            </button>
          </div>
        </form>
      {{ end }}

      {{ if eq .Type "notabenoid"}}
        <form class="form-horizontal form-add-book-notabenoid" action="/add/notabenoid" method="POST">
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input id="title" name="title" type="text" class="form-control" placeholder="Title" value="{{ .Title }}" autofocus>
          </div>
          <div class="form-group">
            <label for="chapter-url" class="control-label">Chapter URL:</label>
            <input id="chapter-url" name="chapter-url" type="text" class="form-control" placeholder="http://notabenoid.org/book/123/456">
          </div>
          <div class="form-group">
            <label for="nb-user" class="control-label">Username:</label>
            <input id="nb-user" name="nb-user" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="nb-pass" class="control-label">Password:</label>
            <input id="nb-pass" name="nb-pass" type="password" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-light float-right form-add-book-notabenoid__button-import">
              Import
            </button>
          </div>
        </form>
      {{ end }}

      </div>

    </div>
  </body>
</html>
