<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Admin</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li>
            <a href="/">Index</a>
          </li>
          <li class="active">
            <a href="/admin">Admin</a>
          </li>
        </ul>
      </nav>

      <br>

      <a class="btn btn-default" href="/backup">Backup</a>
    </div>
  </body>
</html>
