<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/font-awesome.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <script src="{{ requirejs_path }}"></script>
    <script>
      (function() {
        const events = [];
        const saveEvent = e => {
          e.preventDefault();
          e.stopPropagation();
          if (events.some(ev => ev.target === e.target))
            return;
          events.push(e);
        };
        document.addEventListener('click', saveEvent);
        const call = method => {
          const elems = document.querySelectorAll('button, .icon--clickable');
          for (let i = 0; i < elems.length; i++)
            elems[i][method]('click', saveEvent);
        };
        document.addEventListener('DOMContentLoaded', () => {
          document.removeEventListener('click', saveEvent);
          call('addEventListener');
        });
        define('eventSaver', [], () => {
          return {
            replay: () => {
              call('removeEventListener');
              events.forEach(e => e.target.dispatchEvent(new MouseEvent(e.type, e)));
              events.length = 0;
            },
          };
        });
      })();
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        shim: {
          'bootbox': ['bootstrap'],
        },
        waitSeconds: 0,
      });
      require(['aligner']);
    </script>
    <script>
      const pageNumber = +'{{ or .PageNumber -1 }}';
      let nonce = +'{{ .Nonce }}';
      const rowsPerPage = +'{{ .RowsPerPage }}';
      const withSentenceTransformers = '{{ .WithST }}' === 'true';
      let colorize = '{{ .Colorize }}' === 'true';
    </script>

    <script id="row-tmpl" type="text/template">
      <tr class="aligner-row">
        <td><i class="fa fa-times aligner-row__icon-remove icon--clickable"></i></td>
        <td class="aligner-column-similarity"></td>
        <td class="aligner-column-left" data-side="left"></td>
        <td class="aligner-column-right" data-side="right"></td>
      </tr>
    </script>
    <script id="edit-form-tmpl" type="text/template">
      <form>
        <div>
          <textarea class="aligner-edit-textarea" style="width: 95% !important;"></textarea>
        </div>
        <div>
          <button class="btn btn-primary btn-sm action-save-edit">Save</button>
          <button class="btn btn-light btn-sm action-cancel-edit">Cancel</button>
        </div>
      </form>
    </script>
  </head>
  <body>
    <div class="container aligner">
      <h1>Aligner</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/aligner">Aligner</a>
          </li>
        </ul>
      </nav>

      {{ if and (eq (len .Left) 0) (eq (len .Right) 0) }}
        <ul class="nav nav-tabs mt-3">
          <li class="nav-item">
            <a class="nav-link link-plaintext {{ if eq .Type "plaintext" }}active{{ end }}" href="/aligner">Plain text</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-csv {{ if eq .Type "csv" }}active{{ end }}" href="/aligner?type=csv">CSV / TSV</a>
          </li>
        </ul>
      {{ end }}

      <div class="mt-3">

      {{ if and (eq (len .Left) 0) (eq (len .Right) 0) }}
        <form class="form-horizontal aligner-form" method="POST" enctype="multipart/form-data" action="/aligner">
          <input type="hidden" name="nonce" value="{{ .Nonce }}"></input>
          {{ if eq .Type "plaintext" }}
            <div class="form-group">
              <label for="left" class="control-label">First text:</label>
              <textarea id="left" name="left" class="form-control" rows="14" spellcheck="false" autofocus></textarea>
            </div>
            <div class="form-group">
              <label for="right" class="control-label">Second text:</label>
              <textarea id="right" name="right" class="form-control" rows="14" spellcheck="false"></textarea>
            </div>
          {{ else }}
            <div class="form-group">
              <input id="csvfile" name="csvfile" type="file"></input>
            </div>
            <div class="form-group">
              Separator:
              <select id="separator" name="separator">
                <option value="," selected>,</option>
                <option value=";">;</option>
                <option value="&#9;">TAB</option>
              </select>
            </div>
          {{ end }}
          <div class="form-group">
            Rows per page:
            <input type="text" id="rowsperpage" name="rowsperpage" size="4" value="{{ .RowsPerPage }}">
            <button type="submit" class="btn btn-primary float-right button-align">
              Align
            </button>
          </div>
        </form>
      {{ else }}
        <div class="btn-toolbar aligner-toolbar">
          <div class="btn-group btn-group-sm mr-2">
            <div class="dropdown">
              <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                Download
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="/aligner?download=left">Plain text (left)</a>
                <a class="dropdown-item" href="/aligner?download=right">Plain text (right)</a>
                <a class="dropdown-item" href="/aligner?download=csv">CSV</a>
                <a class="dropdown-item" href="/aligner?download=tsv">TSV</a>
              </div>
            </div>
          </div>

          <div class="btn-group btn-group-sm mr-2">
            <button class="btn btn-light action-import">Import</button>
          </div>

          <div class="btn-group btn-group-sm mr-2">
            <button class="btn btn-light action-swap">Swap</button>
          </div>

          <div class="btn-group btn-group-sm mr-2">
            <button class="btn btn-light action-clear">Clear</button>
          </div>

          {{ if .WithST }}
            <div class="btn-group-toggle btn-group-sm mr-2" data-toggle="buttons">
              <label class="btn btn-light {{ if .Colorize }}active{{ end }}" title="Colorize using UKPLab/sentence-transformers">
                <input class="action-colorize" type="checkbox" autocomplete="off" {{ if .Colorize }}checked{{ end }}>Colorize</input>
              </label>
            </div>
          {{ end }}

          <div class="btn-group btn-group-sm mr-2">
            <button type="button" class="btn button-help" data-toggle="popover" data-placement="bottom" title="Help" data-content="Click to split, Shift-Click to join, Ctrl-Click to edit">
              <span class="text--underlined-dotted">Help</span></button>
          </div>

          <div class="btn-group btn-group-sm ml-auto">
            <div class="aligner-pager">
              <form method="GET" action="/aligner" class="aligner-pager-form">
                <input class="form-control aligner-pager__page-input" type="text" name="page" value="{{ .PageNumber }}" size="2"></form>/{{ .TotalPages }}
              {{ pct .PageNumber .TotalPages }}%
              <div class="btn-group btn-group-sm float-right ml-2">
                {{ if ge (dec .PageNumber) 1 }}
                  {{ if eq .PageNumber 2 }}
                    <a class="btn btn-light aligner-pager__button-prev" rel="prev" href="/aligner">Previous</a>
                  {{ else }}
                    <a class="btn btn-light aligner-pager__button-prev" rel="prev" href="/aligner?page={{ dec .PageNumber }}">Prev</a>
                  {{ end }}
                {{ end }}
                <a class="btn btn-light aligner-pager__button-next" rel="next" href="/aligner?page={{ inc .PageNumber }}">Next</a>
              </div>
            </div>
          </div>
        </div>
      {{ end }}

      </div>

      {{ if or (gt (len .Left) 0) (gt (len .Right) 0) }}
        <table class="table table-sm table-striped aligner-table mt-3">
          {{ range $i := seq (max (len .Left) (len .Right)) }}
            <tr class="aligner-row">
              <td class="aligner-column">
                <i class="fa fa-times aligner-row__icon-remove icon--clickable"></i>
              </td>
              <td class="aligner-column aligner-column-similarity"></td>
              <td class="aligner-column aligner-column-left" data-side="left">
                {{- if lt $i (len $.Left) -}}
                  {{- range $w := index $.Left $i }}<span>{{ $w }}</span> {{ end -}}
                {{- end -}}
              </td>
              <td class="aligner-column aligner-column-right" data-side="right">
                {{- if lt $i (len $.Right) -}}
                  {{- range $w := index $.Right $i }}<span>{{ $w }}</span> {{ end -}}
                {{- end -}}
              </td>
            </tr>
          {{ end }}
        </table>

        <a class="btn btn-light aligner-pager__button-next mb-3 pull-right" rel="next" href="/aligner?page={{ inc .PageNumber }}">Next</a>
      {{ end }}

    </div>
  </body>
</html>
<!-- vim: set sw=2 ts=2 sts=2 et: -->
