<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
  </head>
  <body>
    <div class="container">
      <h1>Text analysis</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/analysis">Text analysis</a>
          </li>
        </ul>
      </nav>

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link {{ if eq .Tab "" }}active{{ end }}" href="/analysis">Text</a>
        </li>
        {{ if gt .WordCount 0 }}
          <li class="nav-item">
            <a class="nav-link {{ if eq .Tab "words" }}active{{ end }}" href="/analysis?tab=words">Words</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ if eq .Tab "ngrams" }}active{{ end }}" href="/analysis?tab=ngrams">N-grams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ if eq .Tab "coll" }}active{{ end }}" href="/analysis?tab=coll">Collocations</a>
          </li>
          </li>
        {{ end }}
      </ul>

      <div class="mt-3">
        {{ if eq .Tab "" }}
          {{ if eq .WordCount 0 }}
            <form class="form-horizontal" action="/analysis" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <textarea id="text" name="text" class="form-control" rows="15" spellcheck="false" placeholder="Paste some text here" autofocus></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-light float-right">
                  Submit
                </button>
              </div>
            </form>
          {{ else }}
            <span>Word count: {{ .WordCount }}</span>
            <form class="form-horizontal" action="/analysis/new" method="POST">
              <div class="form-group">
                <button type="submit" class="btn btn-light float-right">
                  Analyze another text
                </button>
              </div>
            </form>
          {{ end }}
        {{ end }}

        {{ if eq .Tab "words" }}
          <form class="form-inline mb-3" action="/analysis" method="GET">
            <input name="tab" type="hidden" value="words">
            <div class="form-group">
              <label for="minFreq" class="control-label mr-1">Min. frequency:</label>
              <input id="minFreq" name="minFreq" type="text" class="form-control mr-1 col-2" value="{{ if gt .MinFreq 0 }}{{ .MinFreq }}{{ else }}1{{ end }}" placeholder="1..">
              <label for="minLength" class="control-label mr-1">Min. length:</label>
              <input id="minLength" name="minLength" type="text" class="form-control mr-1 col-2" value="{{ if gt .MinFreq 0 }}{{ .MinLength }}{{ else }}2{{ end }}">
              <label for="morph" class="control-label mr-1">Morphology</label>
              <input id="morph" name="morph" type="checkbox" class="mr-1" {{ if .Morphology }}checked{{ end }}>
              <button type="submit" class="btn btn-light">
                Show
              </button>
            </div>
          </form>

          {{ if gt (len .Words) 0 }}
            <div class="table-responsive">
              <table class="table table-sm table-striped table-hover table-borderless">
                <thead>
                  <tr>
                    <th>Frequency</th>
                    <th>Word</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Words }}
                    <tr>
                      <td>{{ .Freq }}</td>
                      <td>{{ .Word }}</td>
                    </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        {{ end }}

        {{ if eq .Tab "ngrams" }}
          <form class="form-inline mb-3" action="/analysis" method="GET">
            <input name="tab" type="hidden" value="ngrams">
            <div class="form-group">
              <label for="length" class="control-label mr-1">N:</label>
              <input id="length" name="length" type="text" class="form-control mr-1 col-2" value="{{ if gt .NgramLength 0 }}{{ .NgramLength }}{{ else }}2{{ end }}" placeholder="2..9">
              <label for="score" class="control-label mr-1">Score:</label>
              <select id="score" name="score" class="form-control mr-1 col-3">
                <option value="MI" {{ if eq .Score "MI" }}selected{{ end }}>MI</option>
                <option value="MI3" {{ if eq .Score "MI3" }}selected{{ end }}>MI3</option>
              </select>
              <button type="submit" class="btn btn-light">
                Show
              </button>
            </div>
          </form>

          {{ if gt (len .Ngrams) 0 }}
            <div class="table-responsive">
              <table class="table table-sm table-striped table-hover table-borderless">
                <thead>
                  <tr>
                    <th>Score</th>
                    <th>N-gram</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Ngrams }}
                    <tr>
                      <td>{{ float2 .Score }}</td>
                      <td>{{ .Ngram }}</td>
                      <td>{{ .Freq }}</td>
                    </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        {{ end }}

        {{ if eq .Tab "coll"}}
          <form class="form-inline mb-3" action="/analysis" method="GET">
            <input name="tab" type="hidden" value="coll">
            <div class="form-group w-100">
              <input type="text" name="q1" class="form-control mr-1 col-2" size="19" value="{{ .Q1 }}" placeholder="e.g. ADJ">
              <input type="text" name="q2" class="form-control mr-1 col-2" size="19" value="{{ .Q2 }}" placeholder="e.g. NOUN">
              <label for="left" class="control-label mr-1">L</label>
              <select id="left" name="l" class="form-control mr-1 col-1">
                <option value="0" {{ if eq .Left 0 }}selected{{ end }}>0</option>
                <option value="1" {{ if eq .Left 1 }}selected{{ end }}>1</option>
                <option value="2" {{ if eq .Left 2 }}selected{{ end }}>2</option>
                <option value="3" {{ if eq .Left 3 }}selected{{ end }}>3</option>
                <option value="4" {{ if eq .Left 4 }}selected{{ end }}>4</option>
              </select>
              <label for="right" class="control-label mr-1">R</label>
              <select id="right" name="r" class="form-control mr-1 col-1">
                <option value="0" {{ if eq .Right 0 }}selected{{ end }}>0</option>
                <option value="1" {{ if eq .Right 1 }}selected{{ end }}>1</option>
                <option value="2" {{ if eq .Right 2 }}selected{{ end }}>2</option>
                <option value="3" {{ if eq .Right 3 }}selected{{ end }}>3</option>
                <option value="4" {{ if eq .Right 4 }}selected{{ end }}>4</option>
              </select>
              <label for="score" class="control-label mr-1">Score:</label>
              <select id="score" name="score" class="form-control mr-1 col-2">
                <option value="MI" {{ if eq .Score "MI" }}selected{{ end }}>MI</option>
                <option value="MI3" {{ if eq .Score "MI3" }}selected{{ end }}>MI3</option>
              </select>
              <button type="submit" class="btn btn-light">
                Show
              </button>
            </div>
          </form>

          {{ if gt (len .Coll) 0 }}
            <div class="table-responsive">
              <table class="table table-sm table-striped table-hover table-borderless">
                <thead>
                  <tr>
                    <th>Score</th>
                    <th>First word</th>
                    <th>Second word</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Coll }}
                    <tr>
                      <td>{{ float2 .Score }}</td>
                      <td>{{ .W1 }}</td>
                      <td>{{ .W2 }}</td>
                      <td>{{ .Freq }}</td>
                    </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        {{ end }}

      </div>

    </div>
  </body>
</html>
