<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/font-awesome.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/plugins.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/heatmap.css" }}">
    <script src="{{ requirejs_path }}"></script>
    <script>
      (function() {
        const events = [];
        const saveEvent = e => {
          e.preventDefault();
          e.stopPropagation();
          if (events.some(ev => ev.target === e.target))
            return;
          events.push(e);
        };
        document.addEventListener('click', saveEvent);
        const call = method => {
          const elems = document.querySelectorAll('button, .icon--clickable');
          for (let i = 0; i < elems.length; i++)
            elems[i][method]('click', saveEvent);
        };
        document.addEventListener('DOMContentLoaded', () => {
          document.removeEventListener('click', saveEvent);
          call('addEventListener');
        });
        define('eventSaver', [], () => {
          return {
            replay: () => {
              call('removeEventListener');
              events.forEach(e => e.target.dispatchEvent(new MouseEvent(e.type, e)));
              events.length = 0;
            },
          };
        });
      })();
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        shim: {
          'bootbox': ['bootstrap'],
        },
        waitSeconds: 0,
      });
      require(['sticky', 'translate']);
      require(['plugins'], plugins => {
        require(['sticky', ...plugins.map(p => 'plugin-' + p)], (sticky, ...args) => {
          for (const p of args) sticky.registerPlugin(p);
        });
      });
    </script>
    </script>
    <script id="translate-form-tmpl" type="text/template">
      <form class="translation-editing pt-2 pl-2" method="POST">
        <input type="hidden" name="version_id" value=""></input>
        <div class="text">
          <textarea name="text" lang="ru" class="full-width-textarea"></textarea>
        </div>
        <div class="alert-container"></div>
        <div class="btn-group btn-group-xs buttons my-2">
          <button type="submit" class="btn btn-primary"></button>
          <button type="button" class="btn btn-light cancel ml-1">Cancel</button>
          <span class="character-counter ml-2">
            <span class="big-screen-only">Original/translation:</span> <b class="character-counter__orig">?</b>/<b class="character-counter__transl">?</b>
          </span>
        </div>
      </form>
    </script>
    <script id="version-tmpl" type="text/template">
      <div id="version_id" class="translation d-flex align-items-start">
        <p class="text flex-grow-1 pt-2 pl-2 mb-2"></p>
        <div class="toolbox flex-shrink-0 pt-2"><i class="fa fa-pencil-square-o action-edit-transl icon--sheer icon--clickable px-2 py-1"></i><i class="fa fa-times action-remove-transl icon--sheer icon--clickable px-2 py-1"></i></div>
      </div>
    </script>
    <script id="edit-orig-form-tmpl" type="text/template">
      <form class="editing" method="POST">
        <div class="text">
          <textarea name="text" lang="en" class="full-width-textarea"></textarea>
        </div>
        <div class="alert-container"></div>
        <div class="btn-group btn-group-xs buttons my-2">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-light cancel ml-1">Cancel</button>
        </div>
      </form>
    </script>
    <script id="orig-tmpl" type="text/template">
      <div class="d-flex align-items-start">
        <p class="text flex-grow-1"></p>
        <div class="toolbox flex-shrink-0"><i class="fa fa-caret-left action-toggle-toolbox icon--sheer icon--clickable px-2 py-1"></i><i class="fa fa-pencil-square-o button-edit-orig action-edit-orig icon--sheer icon--clickable px-2 py-1"></i><i class="fa fa-plus button-add-orig action-add-orig icon--clickable px-2 py-1"></i><i class="fa fa-times button-remove-orig action-remove-orig icon--clickable px-2 py-1"></i></div>
      </div>
    </script>
    <script id="alert-tmpl" type="text/template">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      </div>
    </script>
    <script id="transp-div-tmpl" type="text/template">
      <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;"></div>
    </script>
    <script id="commentary-form-tmpl" type="text/template">
      <form class="commentary-form" method="POST">
        <div class="text"></div>
        <div class="alert-container"></div>
        <div class="btn-group btn-group-xs commentary-form-buttons my-2">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-light commentary-form__button-edit btn--rounded-left">Edit</button>
          <button type="button" class="btn btn-light commentary-form__button-close ml-1">Close</button>
        </div>
      </form>
    </script>
    <script id="new-row-tmpl" type="text/template">
      <tr class="translator-row editing">
        <td class="translator-column-star border-top-0 pt-2">
          <div class="d-flex justify-content-around insert-icon-here">
            <div class="d-flex flex-column">
              <i class="fa fa-arrow-up action-orig-up icon--sheer icon--clickable px-2 py-1"></i>
              <i class="fa fa-arrow-down action-orig-down icon--sheer icon--clickable px-2 py-1"></i>
            </div>
          </div>
        </td>
        <td class="translator-column-orig border-top-0 pl-2 pr-0 pt-2 pb-0">
          <form class="editing" method="POST">
            <input type="hidden" name="after"/>
            <input type="hidden" name="before"/>
            <div class="text">
              <textarea name="text" lang="en" class="full-width-textarea"></textarea>
            </div>
            <div class="alert-container"></div>
            <div class="btn-group btn-group-xs buttons my-2">
              <button type="submit" class="btn btn-primary">Add</button>
              <button type="button" class="btn btn-light cancel ml-1">Cancel</button>
            </div>
          </form>
        </td>
        <td class="translator-column-middle border-top-0 pt-2">
          <div class="d-flex justify-content-around insert-icon-here"></div>
        </td>
        <td class="translator-column-transl border-top-0 p-0"></td>
        <td class="translator-column-comment border-top-0 pt-2">
          <div class="d-flex justify-content-around insert-icon-here"></div>
        </td>
      </tr>
    </script>
    <script id="stats-tmpl" type="text/template">
      <table class="table stats">
        <thead>
          <tr>
            <th></th>
            <th class="text-right">Original</th>
            <th class="text-right">Translation</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Words:</th>
            <td class="stats__orig-words text-right"></td>
            <td class="stats__trans-words text-right"></td>
            <td class="stats__trans-words-pct"></td>
          </tr>
          <tr>
            <th>Characters:</th>
            <td class="stats__orig-chars text-right"></td>
            <td class="stats__trans-chars text-right"></td>
            <td class="stats__trans-chars-pct"></td>
          </tr>
        </tbody>
      </table>
    </script>
    <script id="search-and-replace-tmpl" type="text/template">
      <form class="form search-and-replace-form" action="/book/{{ .ID }}/snr" method="POST">
        <div>
          <div class="form-group">
            <label for="search" class="control-label">Search:</label>
            <input id="search" name="search" type="text" class="form-control search-and-replace-form__input-search">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="replace-with" class="control-label">Replace with:</label>
            <input id="replace-with" name="replace-with" type="text" class="form-control search-and-replace-form__input-replace-with">
          </div>
        </div>
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary button-preview-changes">
              Preview changes
            </button>
          </div>
        </div>
      </form>
    </script>
    <script id="export-nb-tmpl" type="text/template">
      <div class="form export-to-nb-form">
        <div>
          <div class="form-group">
            <label for="chapter-url" class="control-label">Chapter URL:</label>
            <input id="chapter-url" name="chapter-url" type="text" class="form-control export-to-nb-form__input-url" placeholder="http://notabenoid.org/book/123/456">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="nb-user" class="control-label">Username:</label>
            <input id="nb-user" name="nb-user" type="text" class="form-control export-to-nb-form__input-user">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="nb-pass" class="control-label">Password:</label>
            <input id="nb-pass" name="nb-pass" type="password" class="form-control export-to-nb-form__input-password">
          </div>
        </div>
        <div>
          <div class="form-group">
            <input id="no-delete" name="no-delete" type="checkbox" class="export-to-nb-form__check-no-delete">
            <label for="no-delete" class="control-label">Do not delete translations</label>
          </div>
        </div>
        <div>
          <div class="form-group">
            <input id="no-new" name="no-new" type="checkbox" class="export-to-nb-form__check-no-add-new">
            <label for="no-new" class="control-label">Do not add new translations</label>
          </div>
        </div>
        <div>
          <div class="form-group">
            <input id="export-comments" name="export-comments" type="checkbox" class="export-to-nb-form__check-export-comments">
            <label for="export-comments" class="control-label">Export comments</label>
          </div>
        </div>
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-light export-to-nb-form__button-export">
              Export
            </button>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" style="display: none;"></div>
    </script>
    <script id="update-nb-tmpl" type="text/template">
      <div class="form update-from-nb-form">
        <div>
          <div class="form-group">
            <label for="chapter-url" class="control-label">Chapter URL:</label>
            <input id="chapter-url" name="chapter-url" type="text" class="form-control update-from-nb-form__input-url" placeholder="http://notabenoid.org/book/123/456">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="nb-user" class="control-label">Username:</label>
            <input id="nb-user" name="nb-user" type="text" class="form-control update-from-nb-form__input-user">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="nb-pass" class="control-label">Password:</label>
            <input id="nb-pass" name="nb-pass" type="password" class="form-control update-from-nb-form__input-password">
          </div>
        </div>
        <div>
          <div class="form-group">
            <input id="no-delete" name="no-delete" type="checkbox" class="update-from-nb-form__check-no-delete">
            <label for="no-delete" class="control-label">Do not delete translations</label>
          </div>
        </div>
        <div>
          <div class="form-group">
            <input id="no-new" name="no-new" type="checkbox" class="update-from-nb-form__check-no-add-new">
            <label for="no-new" class="control-label">Do not add new translations</label>
          </div>
        </div>
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-light update-from-nb-form__button-update">
              Update
            </button>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" style="display: none;"></div>
    </script>
    <script id="compare-nb-tmpl" type="text/template">
      <div class="form compare-to-nb-form">
        <div>
          <div class="form-group">
            <label for="chapter-url" class="control-label">Chapter URL:</label>
            <input id="chapter-url" name="chapter-url" type="text" class="form-control compare-to-nb-form__input-url" placeholder="http://notabenoid.org/book/123/456">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="nb-user" class="control-label">Username:</label>
            <input id="nb-user" name="nb-user" type="text" class="form-control compare-to-nb-form__input-user">
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="nb-pass" class="control-label">Password:</label>
            <input id="nb-pass" name="nb-pass" type="password" class="form-control compare-to-nb-form__input-password">
          </div>
        </div>
        <div>
          <div class="form-group">
            The notabenoid version is
            <input id="nb-older" name="dorder" type="radio" value="older" checked>
            <label for="nb-older" class="control-label">older</label>
            <input id="nb-newer" name="dorder" type="radio" value="newer">
            <label for="nb-newer" class="control-label">newer</label>
          </div>
        </div>
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-light compare-to-nb-form__button-compare">
              Compare
            </button>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" style="display: none;"></div>
    </script>
    <script id="fuzzy-settings-tmpl" type="text/template">
      <div class="fuzzy-settings-tooltip">
        %: <input type="text" name="matching-percentage" class="mt-1"></input>
        <label for="show-matches-w/o-translation" class="mt-1">Show matches w/o translation</label>
        <input type="checkbox" name="show-matches-w/o-translation" id="show-matches-w/o-translation"></input>
        <button class="btn btn-xs btn-primary action-apply-fuzzy-settings">Apply</button>
      </div>
    </script>
    <script>
      // strings to make linters happy
      const book_id = +'{{ .ID }}';
      var fragments_total = +'{{ .FragmentsTotal }}';
      var fragments_translated = +'{{ .FragmentsTranslated }}';
      const withTM = '{{ .WithTM }}' === 'true';
      const tmServer = '{{ .TMServer }}';
    </script>
  </head>
  <body>
    <div class="progress header-progress" data-toggle="tooltip" data-placement="bottom" data-template='<div class="tooltip progress-tooltip tooltip--black" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' title="{{ pct .FragmentsTranslated .FragmentsTotal }}% ({{ .FragmentsTranslated }} / {{ .FragmentsTotal }})">
      <div class="progress-bar bg-success" style="width: {{ pct .FragmentsTranslated .FragmentsTotal }}%"></div>
    </div>
    <div id="right-popper" class="popper popper--sheer" role="tooltip" style="visibility: hidden;">
      <div class="popper__arrow"></div>
      <div class="popper__inner">
        <div class="d-flex flex-column">
        <i class="fa fa-search button-lookup-selection action-lookup-selection icon--clickable py-1" title="Look up the selected text (Alt-S)"></i>
        <i class="fa fa-bookmark button-mark action-mark icon--clickable py-1" title="Mark the selected text (Alt-M)"></i>
        <i class="fa fa-book button-add-term action-add-term icon--clickable py-1" title="Add a term to the glossary (Alt-G)"></i>
        </div>
      </div>
    </div>
    <div id="unmark-popper" class="popper popper--sheer" role="tooltip" style="visibility: hidden;">
      <div class="popper__arrow"></div>
      <div class="popper__inner">
        <i class="fa fa-eraser action-unmark icon--clickable"></i>
      </div>
    </div>
    <div id="glossary-term-popper" class="popper popper--sheer p-1" role="tooltip" style="visibility: hidden;">
      <div class="popper__arrow"></div>
      <div class="popper__inner">
        <input id="glossary-term-popper-input" type="text" value=""></input>
      </div>
    </div>

    <div id="sidebar-left" tabindex="0">
      <div id="panel-glossary">
        <b>Glossary</b>
        <br>
        <input type="text" id="panel-glossary__input-term" placeholder="Term"></input>
        <input type="text" id="panel-glossary__input-def" placeholder="Definition"></input>
        <button id="panel-glossary__btn-add-term" class="btn btn-sm btn-light action-add-to-glossary align-self-center">Add</button>
      </div>
      <div id="panel-glossary-content" class="mt-3"></div>
      <hr>
      <div id="panel-dictionary">
        <b>Dictionary</b>
        <br>
        <input id="panel-dictionary__input-query" type="text"></input>
        <i class="fa fa-search icon--clickable action-lookup"></i>
        <i id="panel-dictionary__lookup-spin" class="fa fa-spinner fa-spin d-none"></i>
      </div>
      <div id="panel-dictionary-content" class="collapse mt-2 mr-2">
         <ul id="panel-dictionary-pills" class="nav nav-pills nav-xs sticky-pills p-2"></ul>
         <div id="panel-dictionary-pages" class="sticky-tab-pages"></div>
      </div>
    </div>

    <div class="translator-container container">
      <h1>{{ .Title -}}
        <span class="fa-stack icon--clickable action-jump-untranslated ml-2" style="font-size: 15px; color: #ccc;"
              title="Jump to the first untranslated fragment on the page (Alt+C)">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
        </span>
      </h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="tab-book-title nav-item">
            <div class="nav-link active">
              <a class="prev-book"><i class="fa fa-arrow-left pr-2 prev-book__icon"></i></a>
              <a class="nav-active-sublink" href="/book/{{ .ID }}">{{ .Title }}</a>
              <a class="next-book"><i class="fa fa-arrow-right pl-2 next-book__icon"></i></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link glossary-link" href="/book/{{ .ID }}/glossary?url={{ .URL }}">Glossary</a>
          </li>
        </ul>
      </nav>

      <form id="top-form" class="mt-3" method="GET" action="/book/{{ .ID }}">
        <div class="btn-toolbar">
          <div class="btn-group btn-group-xs mr-2">
            <div class="dropdown filter-dropdown">
              <button type="button" class="btn btn-xs btn-light dropdown-toggle filter-dropdown__button-toggle" data-toggle="dropdown">
                <i class="fa fa-filter display-if-narrow" title="Filter"></i>
                <span class="display-if-wide">Filter</span>
                {{ if and (.Query.Get "f") }}
                  <sup class="filter-dropdown__total-items">{{ .Pagination.TotalItems }}</sup>
                {{ end }}
              </button>

              <div class="dropdown-menu">
                <label class="dropdown-item">
                  <input name="f" type="radio" value="u"
                    {{ if eq (.Query.Get "f") "u" }}checked{{ end }}></input>
                  <a href="?f=u" class="filter-dropdown__show-untranslated link--underlined">Untranslated</a>
                </label>
                <label class="dropdown-item">
                  <input name="f" type="radio" value="c"
                    {{ if eq (.Query.Get "f") "c" }}checked{{ end }}></input>
                  <a href="?f=c" class="filter-dropdown__show-commented link--underlined">Commented</a>
                </label>
                <label class="dropdown-item">
                  <input name="f" type="radio" value="s"
                    {{ if eq (.Query.Get "f") "s" }}checked{{ end }}></input>
                  <a href="?f=s" class="filter-dropdown__show-starred link--underlined">Starred</a>
                  /
                  <input name="f" type="radio" value="-s"
                    {{ if eq (.Query.Get "f") "-s" }}checked{{ end }}></input>
                  <a href="?f=-s" class="filter-dropdown__show-unstarred link--underlined">Unstarred</a>
                </label>
                <label class="dropdown-item">
                  <input name="f" type="radio" value="m"
                    {{ if eq (.Query.Get "f") "m" }}checked{{ end }}></input>
                  <a href="?f=m" class="filter-dropdown__show-marked link--underlined">Marked</a>
                </label>
                <label class="dropdown-item">
                  <input name="f" type="radio" value="2"
                    {{ if eq (.Query.Get "f") "2" }}checked{{ end }}></input>
                  <a href="?f=2" class="filter-dropdown__show-2plus-versions link--underlined">With two or more versions</a>
                </label>
                <label class="dropdown-item">
                  <input id="orig_contains" name="f" type="radio" value="o"
                    {{ if eq (.Query.Get "f") "o" }}checked{{ end }}></input>
                  <input name="to" type="text" placeholder="The original contains"
                    class="filter-dropdown__orig-contains-input"
                    value="{{ .Query.Get "to" }}"></input>
                </label>
                <label class="dropdown-item">
                  <input id="transl_contains" name="f" type="radio" value="t"
                    {{ if eq (.Query.Get "f") "t" }}checked{{ end }}></input>
                  <input name="tt" type="text" placeholder="The translation contains"
                    class="filter-dropdown__transl-contains-input"
                    value="{{ .Query.Get "tt" }}"></input>
                </label>
                <label class="dropdown-item">
                  <input name="f" type="radio" value="w"
                    {{ if eq (.Query.Get "f") "w" }}checked{{ end }}></input>
                  Created
                  <select name="when">
                    <option value="today">
                      today
                    </option>
                    <option value="yesterday" {{ if eq (.Query.Get "when") "yesterday" }}selected{{ end }}>
                      yesterday
                    </option>
                  </select>
                </label>
                <div class="dropdown-item">
                  <div class="btn-group btn-group-xs mr-2 filter-buttons">
                    <button class="btn btn-primary filter-dropdown__button-show">
                      Show
                    </button>
                    <a class="btn btn-light ml-1 filter-dropdown__button-reset" href="/book/{{ .ID }}">
                      Reset
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{ if .Query.Get "f" }}
            <div class="btn-group btn-group-xs mr-2">
              <a class="btn btn-xs clear-filter-link" href="/book/{{ .ID }}">
                <i class="fa fa-times icon--sheer"></i>
              </a>
            </div>
          {{ end }}

          <div class="btn-group btn-group-xs mr-2">
            <div class="progress translator-progress display-if-wide">
              <div class="progress-bar progress-bar-striped bg-success" style="width: {{ pct .FragmentsTranslated .FragmentsTotal }}%"></div>
              <span class="font-weight-bold text--dark position-absolute w-100 text-center progress-bar-label">
                <i class="progress-fraction" data-toggle="tooltip" data-template='<div class="tooltip progress-tooltip tooltip--black" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' title="{{ .FragmentsTranslated }}/{{ .FragmentsTotal }}">
                  <i class="progress__percent">{{ pct .FragmentsTranslated .FragmentsTotal }}</i>%
                </i>
                -
                <a class="translator__read-link" href="/book/{{ .ID }}/read?url={{ .URL }}">Read</a>
              </span>
            </div>
            <div class="display-if-narrow">
              <a href="/book/{{ .ID }}/read?url={{ .URL }}" title="Read">
                {{ pct .FragmentsTranslated .FragmentsTotal }}%
              </a>
            </div>
          </div>

          <div class="btn-group btn-group-xs mr-2">
            <div class="dropdown dropdown-export">
              <button type="button" class="btn btn-xs btn-light dropdown-toggle button-export" data-toggle="dropdown">
                <i class="fa fa-download display-if-narrow" title="Export as"></i>
                <span class="display-if-wide">Export as</span>
              </button>

              <div class="dropdown-menu dropdown-menu-export">
                <a class="dropdown-item dropdown-export__link-plaintext" href="/book/{{ .ID }}/export?f=plaintext">Plain text</a>
                <a class="dropdown-item dropdown-export__link-plaintext-orig" href="/book/{{ .ID }}/export?f=plaintext-orig">Plain text (original)</a>
                <a class="dropdown-item dropdown-export__link-csv" href="/book/{{ .ID }}/export?f=csv">CSV</a>
                <a class="dropdown-item dropdown-export__link-tsv" href="/book/{{ .ID }}/export?f=tsv">TSV</a>
                <a class="dropdown-item dropdown-export__link-jsonl" href="/book/{{ .ID }}/export?f=jsonl">JSON Lines</a>
                <a class="dropdown-item dropdown-export__link-json" href="/book/{{ .ID }}/export?f=json">JSON (all-in-one)</a>
              </div>
            </div>
          </div>

          <div class="btn-group btn-group-xs mr-2">
            <div class="dropdown">
              <button type="button" class="btn btn-xs btn-light dropdown-toggle button-tools" data-toggle="dropdown">
                <i class="fa fa-wrench display-if-narrow" title="Tools"></i>
                <span class="display-if-wide">Tools</span>
              </button>

              <div class="dropdown-menu tools-dropdown-menu">
                <a class="dropdown-item action-show-stats" href="#">Statistics</a>
                <a class="dropdown-item" href="/book/{{ .ID }}/heatmap">My work</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item action-search-and-replace" href="#">Search and replace</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item action-compare-nb" href="#">Compare to notabenoid</a>
                <a class="dropdown-item action-export-nb" href="#">Export to notabenoid</a>
                <a class="dropdown-item action-update-nb" href="#">Update from notabenoid</a>
              </div>
            </div>
          </div>

          {{ .Pagination.Render }}
        </div>
      </form>

      <div class="alert alert-warning orig-empty-alert mt-3" style="display: none;">
        The text of the original is missing.
        <a class="action-add-first-fragment" href="#">Add a fragment.</a>
      </div>

      {{ if and (eq (len .Fragments) 0) (ne (.Query.Get "f") "") }}
        <div class="alert alert-warning alert-no-match mt-3">
          There are no fragments matching the filter.
          <a href="/book/{{ .ID }}">Show all.</a>
        </div>
      {{ end }}

      <table class="table translator mt-3 {{ if .ShowOrigToolbox }}show-orig-toolbox{{ end }}">
        <thead>
          <tr>
            <th class="translator-header translator-header--narrow"></th>
            <th class="translator-header translator-header--wide">Original</th>
            <th class="translator-header translator-header--narrow"></th>
            <th class="translator-header translator-header--wide">Translation</th>
            <th class="translator-header translator-header--narrow"></th>
          </tr>
        </thead>
        <tbody>
          {{ range .Fragments }}
            <tr id="f{{ .ID }}" class="translator-row">
              <td class="translator-column-star border-top-0 pt-2">
                <div class="d-flex justify-content-around">
                  {{ if .Starred }}
                    <i class="fa fa-star action-unstar icon--sheer icon--clickable p-1"></i>
                  {{ else }}
                    <i class="fa fa-star-o action-star icon--sheer icon--clickable p-1"></i>
                  {{ end }}
                </div>
              </td>
              <td class="translator-column-orig border-top-0 pl-2 pr-0 pt-2 pb-0">
                <div class="d-flex align-items-start">
                  <p class="text flex-grow-1">
                    {{- if and (eq ($.Query.Get "f") "o") ($.Query.Get "to") -}}
                      {{ renderhl .Text ($.Query.Get "to") }}
                    {{- else if $.TermsRegexp -}}
                      {{ renderUsingGlossary .Text $.TermsRegexp $.Book.Glossary }}
                    {{- else -}}
                      {{ render .Text }}
                    {{- end -}}
                  </p>
                  <div class="toolbox flex-shrink-0">
                    {{- /**/}}<i class="fa fa-caret-left action-toggle-toolbox icon--sheer icon--clickable px-2 py-1"></i>
                    {{- /**/}}<i class="fa fa-pencil-square-o button-edit-orig action-edit-orig icon--sheer icon--clickable px-2 py-1"></i>
                    {{- if not ($.Query.Get "f") -}}
                      <i class="fa fa-plus button-add-orig action-add-orig icon--sheer icon--clickable px-2 py-1"></i>
                    {{- end -}}
                    <i class="fa fa-times button-remove-orig action-remove-orig icon--sheer icon--clickable px-2 py-1"></i>
                    {{- /**/}}</div>
                </div>
                <a class="translator__fragment-permalink link--gray" href="/book/{{ $.ID }}/{{ .ID }}">
                  #{{ .SeqNum }}
                </a>
              </td>
              <td class="translator-column-middle border-top-0 pt-2">
                <div class="d-flex justify-content-around">
                  <i class="fa fa-arrow-right action-translate icon--sheer icon--clickable p-1"></i>
                </div>
              </td>
              <td class="translator-column-transl border-top-0 p-0">
                {{- range .Versions }}
                  <div id="v{{ .ID }}" class="translation d-flex align-items-start position-relative">
                    {{ if .Author }}
                      <div class="author-username pl-2 position-absolute">{{ .Author }}</div>
                    {{ end }}
                    <p class="text flex-grow-1 pt-2 pl-2 mb-2 {{ if .Author }}mt-2{{ end }}">
                      {{- if and (eq ($.Query.Get "f") "t") ($.Query.Get "tt") -}}
                        {{ renderhl .Text ($.Query.Get "tt") }}
                      {{- else -}}
                        {{ renderWithMarks .Text .Marks }}
                      {{- end -}}
                    </p>
                    <div class="toolbox flex-shrink-0 pt-2 display-if-wide {{ if .Author }}mt-2{{ end }}">
                      {{- /**/}}<i class="fa fa-pencil-square-o action-edit-transl icon--sheer icon--clickable px-2 py-1"></i>
                      {{- /**/}}<i class="fa fa-times action-remove-transl icon--sheer icon--clickable px-2 py-1"></i>
                      {{- /**/}}</div>
                  </div>
                {{- end }}
              </td>
              <td class="translator-column-comment border-top-0 pt-2">
                <div class="d-flex justify-content-around">
                  {{ if .Comment }}
                    <i class="fa fa-comment button-comment action-comment icon--sheer icon--clickable p-1" data-comment="{{ render .Comment }}"></i>
                  {{ else }}
                    <i class="fa fa-comment-o button-comment action-comment icon--sheer icon--clickable p-1"></i>
                  {{ end }}
                </div>
              </td>
            </tr>
            <tr class="commentary">
              <td class="commentary-cell" colspan="5"></td>
            </tr>
          {{ end }}
        </tbody>
      </table>

      {{ .Pagination.RenderPrevNextButtons }}
    </div>
    <div id="sidebar-right">

      <div id="panel-machine-translation">
        <b>MT</b>
        <div id="machine-translations" class="pr-3"></div>
      </div>

      {{ if .WithTM }}
      <div id="panel-fuzzy">
        <b>Fuzzy matches</b>
        <i class="fa fa-gear icon--clickable icon--sheer action-fuzzy-settings"></i>
        <div id="fuzzy-matches"></div>
      </div>
      {{ end }}
    </div>
  </body>
</html>
<!-- vim: set sw=2 ts=2 sts=2 et: -->
