<table class="table">
  <thead>
  <tr>
    <th>Original</th>
    <th>Translation</th>
  </tr>
  </thead>
  <tbody>
    {{ range .Results }}
      <tr>
        <td>
          <p>{{ renderWithRegexp .Text $.Regexp }}</p>
          {{ if ne .BookID 0 }}
            <div>
              <a class="fragment_permalink link--gray" href="/book/{{ .BookID }}/{{ .FragmentID }}">#</a>
            </div>
          {{ end }}
        </td>
        <td>
          {{ range .Translations }}
            <div>
              <p>{{ . }}</p>
            <div>
          {{ end }}
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
