<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
  </head>
  <body>
    <div class="container">
      <h1>Fresh Eye</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/fresheye">Fresh Eye</a>
          </li>
        </ul>
      </nav>

      <div class="mt-3">
        <form class="form-horizontal form-add-book-plaintext" action="/fresheye" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <textarea name="text" class="form-control" rows="5" placeholder="Paste some text here" spellcheck="false" {{ if not .Text }}autofocus{{ end }}>{{ .Text }}</textarea>
          </div>
          <div class="form-group d-inline">
            <label for="contextSize" class="control-label">Context size (1-50):</label>
            <input id="contextSize" name="contextSize" type="text" size="4" class="form-control d-inline w-3rem" value="{{ .ContextSize }}">
          </div>
          <div class="form-group d-inline">
            <label for="sensitivityThreshold" class="control-label">Sensitivity threshold (100-1000):</label>
            <input id="sensitivityThreshold" name="sensitivityThreshold" type="text" size="4" class="form-control d-inline w-4rem" value="{{ .SensitivityThreshold }}">
          </div>
          <div class="form-group d-inline">
            <input type="checkbox" id="excludeProperNames" name="excludeProperNames" {{ if .ExcludeProperNames }}checked{{ end }}>
            <label for="excludeProperNames" class="control-label">Exclude proper names</label>
          </div>
          <div class="form-group d-inline">
            <button type="submit" class="btn btn-primary float-right">
              Check
            </button>
          </div>
        </form>
      </div>

      <div class="mt-3">
        {{ if .Text }}
          {{ .HTML }}
        {{ end }}
      </div>

    </div>
  </body>
</html>
