<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/font-awesome.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <script src="{{ requirejs_path }}"></script>
    <script>
      (function() {
        const events = [];
        const saveEvent = e => {
          e.preventDefault();
          e.stopPropagation();
          if (events.some(ev => ev.target === e.target))
            return;
          events.push(e);
        };
        document.addEventListener('click', saveEvent);
        const call = method => {
          const elems = document.querySelectorAll('button, .icon--clickable');
          for (let i = 0; i < elems.length; i++)
            elems[i][method]('click', saveEvent);
        };
        document.addEventListener('DOMContentLoaded', () => {
          document.removeEventListener('click', saveEvent);
          call('addEventListener');
        });
        define('eventSaver', [], () => {
          return {
            replay: () => {
              call('removeEventListener');
              events.forEach(e => e.target.dispatchEvent(new MouseEvent(e.type, e)));
              events.length = 0;
            },
          };
        });
      })();
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        shim: {
          'bootbox': ['bootstrap'],
        },
        waitSeconds: 0,
      });
      require(['glossary']);
    </script>
    <script>
      // string to make linters happy
      const book_id = +'{{ .Book.ID }}';
    </script>
    <script id="merge-dialog-tmpl" type="text/template">
      <div class="form-group">
        From:
        <select name="book" class="book-select">
          <option>Please wait...</option>
        </select>
      </div>
      <div class="form-group">
        <input id="gt-ignore" name="merge-strategy" type="radio" value="ignore" checked>
        <label for="gt-ignore" class="control-label"><b>Ignore</b></label>
        or
        <input id="gt-replace" name="merge-strategy" type="radio" value="replace">
        <label for="gt-replace" class="control-label"><b>Replace</b></label>
        existing terms
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-light" disabled>
          Merge
        </button>
      </div>
      <div class="alert alert-danger" style="display: none;"></div>
    </script>
  </head>
  <body>
    <div class="container glossary">
      <h1>{{ .Book.Title }} - Glossary</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ if .URL }}{{ .URL }}{{ else }}/book/{{ .Book.ID }}{{ end }}">{{ .Book.Title }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/book/{{ .Book.ID }}/glossary?url={{ .URL }}">Glossary</a>
          </li>
        </ul>
      </nav>

      <div class="btn-toolbar glossary-toolbar d-flex justify-content-end mt-3">
        <div class="btn-group btn-group-xs">
          {{ if gt (len .Terms) 0 }}
            <div class="dropdown dropdown-download-glossary mr-2">
              <button type="button" class="btn btn-xs btn-light dropdown-toggle button-download-glossary" data-toggle="dropdown">
                <i class="fa fa-download display-if-narrow" title="Download"></i>
                <span class="display-if-wide">Download</span>
              </button>

              <div class="dropdown-menu dropdown-menu-download-glossary">
                <a class="dropdown-item" href="/book/{{ .Book.ID }}/glossary/download?f=csv">CSV</a>
                <a class="dropdown-item" href="/book/{{ .Book.ID }}/glossary/download?f=tsv">TSV</a>
              </div>
            </div>
          {{ end }}
          <button class="btn btn-light action-glossary-merge">Merge</button>
        </div>
      </div>

      <div class="d-flex mt-3">
        <input type="text" placeholder="Term" class="glossary__input-term" autofocus></input>
        <input type="text" placeholder="Definition" class="glossary__input-def flex-grow-1 ml-1 mr-1"></input>
        <button class="btn btn-light action-post-term"><i class="fa fa-plus"></i></button>
      </div>

      <hr>

      <div class="glossary-terms">
        {{ range .Terms }}
          <div class="glossary-row d-flex mb-2">
            <input type="text" placeholder="Term" class="glossary__input-term" value="{{ .Term }}"></input>
            <input type="text" placeholder="Definition" class="glossary__input-def flex-grow-1 ml-1 mr-1" value="{{ .Def }}"></input>
            <button class="btn btn-light action-post-term"><i class="fa fa-check"></i></button>
            <input type="hidden" class="glossary__input-term-orig" value="{{ .Term }}"></input>
          </div>
        {{ end }}
      </div>

    </div>
  </body>
</html>
