<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/font-awesome.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/heatmap.css" }}">
    <style>
      .months { grid-template-columns: {{ range (seq 12) }}calc(var(--week-width) * {{ weekSpan $.Year (inc .) }}) {{ end }}; }
    </style>
    <script src="{{ requirejs_path }}"></script>
    <script>
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        waitSeconds: 0,
      });
      require(['heatmap', 'bootstrap']);
    </script>
  </head>
  <body>
    <div class="container container-heatmap">
      <h1>{{ .Title }} - Heatmap ({{ .Year }})</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/book/{{ .ID }}">{{ .Title }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/book/{{ .ID }}/heatmap">Heatmap</a>
          </li>
        </ul>
      </nav>

      <br>

      <div class="heatmap d-flex justify-content-center align-items-center">
        <a class="heatmap_link" href="/book/{{ .ID }}/heatmap?year={{ dec .Year }}" title="Back one year">
          <i class="fa fa-chevron-left"></i>
        </a>

        <div class="graph-container">
          <div class="graph">
            <div class="months">
              <div>Jan</div>
              <div>Feb</div>
              <div>Mar</div>
              <div>Apr</div>
              <div>May</div>
              <div>Jun</div>
              <div>Jul</div>
              <div>Aug</div>
              <div>Sep</div>
              <div>Oct</div>
              <div>Nov</div>
              <div>Dec</div>
            </div>
            <div class="weekdays">
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
              <div>Sun</div>
            </div>
            <div class="squares">
              {{ range (seq .Weekday) }}
                <div></div>
              {{ end }}
              {{ range .Days }}
                <div class="day"
                  {{ if .Level }}
                    data-level="{{ .Level }}"
                  {{ end }}
                  {{ if .EditingLevel }}
                    data-editing-level="{{ .EditingLevel }}"
                  {{ end }}
                  {{ if and .TranslatedChars .Edited }}
                    title="{{ .TranslatedWords }} word(s) / {{ .TranslatedChars }} character(s) and edited {{ .Edited }} translation(s) on {{ dateStr .Date }}"
                  {{ else }}
                    {{ if .TranslatedChars }}
                      title="{{ .TranslatedWords }} word(s) / {{ .TranslatedChars }} character(s) on {{ dateStr .Date }}"
                    {{ end }}
                    {{ if .Edited }}
                      title="Edited {{ .Edited }} translation(s) on {{ dateStr .Date }}"
                    {{ end }}
                    {{ if and (not .TranslatedChars) (not .Edited) }}
                      title="No work on {{ dateStr .Date }}"
                    {{ end }}
                  {{ end }}
                ></div>
              {{ end }}
            </div>
          </div>

          <div class="heatmap-legend d-flex justify-content-end align-items-center">
            <span>Less</span>
            <div class="day"></div>
            <div class="day" data-level="1"></div>
            <div class="day" data-level="2"></div>
            <div class="day" data-level="3"></div>
            <div class="day" data-level="4"></div>
            <span>More</span>
          </div>
        </div>

        <a class="heatmap_link" href="/book/{{ .ID }}/heatmap?year={{ inc .Year }}" title="Forward one year">
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
  </body>
</html>
