<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/font-awesome.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <script src="{{ requirejs_path }}"></script>
    <script>
      (function() {
        const events = [];
        const saveEvent = e => {
          e.preventDefault();
          e.stopPropagation();
          if (events.some(ev => ev.target === e.target))
            return;
          events.push(e);
        };
        document.addEventListener('click', saveEvent);
        const call = method => {
          const elems = document.querySelectorAll('button, .icon--clickable');
          for (let i = 0; i < elems.length; i++)
            elems[i][method]('click', saveEvent);
        };
        document.addEventListener('DOMContentLoaded', () => {
          document.removeEventListener('click', saveEvent);
          call('addEventListener');
        });
        define('eventSaver', [], () => {
          return {
            replay: () => {
              call('removeEventListener');
              events.forEach(e => e.target.dispatchEvent(new MouseEvent(e.type, e)));
              events.length = 0;
            },
          };
        });
      })();
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        shim: {
          'bootbox': ['bootstrap'],
          'bootstrap-editable': ['jquery'],
        },
        waitSeconds: 0,
      });
      require(['bootstrap', 'bootbox', 'popper', 'bootstrap-editable', 'jquery']); // speed up page loading
      require(['index', 'editable-title']);
    </script>

    <!-- editable titles -->
    <script id="editable-buttons-tmpl" type="text/template">
      <button type="submit" class="btn btn-primary btn-sm editable-submit">
        <i class="fa fa-check"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm editable-cancel">
        <i class="fa fa-times"></i>
      </button>
    </script>
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap-editable.css" }}">
    <!-- / editable titles -->

    <script id="remove-dialog-tmpl" type="text/template">
      <div class="form-group">
        <select name="book" class="book-select">
          <option>Please wait...</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger" disabled>
          Remove
        </button>
      </div>
      <div class="alert alert-danger" style="display: none;"></div>
    </script>
  </head>
  <body>
    <div class="container index-page">
      <h1>Translations</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="/" class="nav-link active">Index</a>
          </li>
        </ul>
      </nav>

      <br>

      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <a href="/add" class="btn btn-light button-add-book">
            <i class="fa fa-plus-circle display-if-narrow"></i>
            <span class="display-if-wide">Add</span>
          </a>
          {{ if .Books }}
            <button class="btn btn-light button-remove-book action-remove-book">
              <i class="fa fa-trash display-if-narrow"></i>
              <span class="display-if-wide">Remove</span>
            </button>
          {{ end }}
        </div>

        <div class="btn-group mr-2">
          <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle button-tools" data-toggle="dropdown">
              <i class="fa fa-wrench display-if-narrow"></i>
              <span class="display-if-wide">Tools</span>
            </button>

            <div class="dropdown-menu tools-dropdown-menu">
              <a class="dropdown-item button-aligner" href="/aligner">Aligner</a>
              <a class="dropdown-item button-fresheye" href="/fresheye">Fresh Eye</a>
              <a class="dropdown-item button-analysis" href="/analysis">Text analysis</a>
            </div>
          </div>
        </div>

        <div class="btn-group mr-2">
          <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle button-tools" data-toggle="dropdown" title="Sort by">
              <i class="fa fa-long-arrow-down"></i>
              <i class="fa fa-long-arrow-up"></i>
            </button>

            <div class="dropdown-menu tools-dropdown-menu">
              <a class="dropdown-item --clickable button-sort-by {{ if eq .SortBy "by-activity" }}active{{ end }}" data-sort-by="by-activity">Last activity</a>
              <a class="dropdown-item --clickable button-sort-by {{ if eq .SortBy "by-title" }}active{{ end }}" data-sort-by="by-title">Title</a>
            </div>
          </div>
        </div>

        {{ if .Books }}
          <div class="btn-group ml-auto">
            <a class="btn btn-light button-backup" href="/backup">
              <i class="fa fa-download display-if-narrow"></i>
              <span class="display-if-wide">Backup</span>
            </a>
          </div>
        {{ end }}
      </div>

      {{ if .Books }}
        <div class="table-responsive">
          <table class="table table-sm table-striped table-hover table-borderless">
            <thead>
              <tr>
                <th></th>
                <th class="title-header">Translation
                  <i class="fa fa-search icon--sheer icon--clickable action-show-title-filter" title="Filter by title"></i>
                </th>
                <th>Complete</th>
                <th>Last activity</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Books }}
                <tr>
                  <td class="index-column-complete">
                    {{ if and (eq .FragmentsTranslated .FragmentsTotal) (gt .FragmentsTranslated 0) }}
                      <i class="fa fa-check icon--green"></i>
                    {{ end }}
                  </td>
                  <td class="index-column-title">
                    {{ if gt .LastVisitedPage 1 }}
                      <a class="book-title-link" href="/book/{{ .ID }}?page={{ .LastVisitedPage }}">{{ .Title }}</a>
                    {{ else }}
                      <a class="book-title-link" href="/book/{{ .ID }}">{{ .Title }}</a>
                    {{ end }}
                    <i class="fa fa-pencil icon--sheer icon--clickable"></i>
                  </td>
                  <td class="index-column-done">
                    <span title="{{ pct6 .FragmentsTranslated .FragmentsTotal }}%">
                      {{ pct .FragmentsTranslated .FragmentsTotal }}%
                    </span>
                    ({{ .FragmentsTranslated }} / {{ .FragmentsTotal }})
                  </td>
                  <td class="index-column-last-activity">
                    {{ if not .LastActivity.IsZero }}
                      {{ $tooltip := datetimeStr .LastActivity }}
                      {{ $text := pretty .LastActivity }}
                      <time datetime="{{ rfc3339 .LastActivity }}"
                        {{- if ne $tooltip $text }} title="{{ $tooltip }}"{{ end }}>
                        {{ $text }}
                      </time>
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      {{ else }}
        <p class="msg-no-translations">
          There are no translations yet.
          <a href="/add">Want to add one?</a>
        </p>
      {{ end }}
    </div>
  </body>
</html>
