<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/font-awesome.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
    <script src="{{ requirejs_path }}"></script>
    <script>
      requirejs.config({
        baseUrl: '/js',
        nodeIdCompat: true,
        paths: JSON.parse(`{{ requirejs_module_paths }}`),
        shim: {
          'bootbox': ['bootstrap'],
        },
        waitSeconds: 0,
      });
      require(['read']);
    </script>
    </script>
    <script>const book_id = +'{{ .ID }}';</script>
  </head>
  <body>
    <div id="link-popper" class="popper popper--sheer" role="tooltip" style="visibility: hidden;">
      <div class="popper__arrow"></div>
      <div class="popper__inner">
        <a class="fragment-permalink link--white"></a>
      </div>
    </div>

    <div class="container read">
      <h1>{{ .Title }} - Read</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ if .URL }}{{ .URL }}{{ else }}/book/{{ .ID }}{{ end }}">{{ .Title }}</a>
          </li>
          <li class="nav-item">
            {{ if .URL }}
              <a class="nav-link active" href="/book/{{ .ID }}/read?url={{ .URL }}">Read</a>
            {{ else }}
              <a class="nav-link active" href="/book/{{ .ID }}/read">Read</a>
            {{ end }}
          </li>
        </ul>
      </nav>

      <div class="btn-toolbar mt-2 pull-right">
        <div class="btn-group mr-2">
          <div class="dropdown read-tools-dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear"></i>
            </button>

            <div class="dropdown-menu">
              {{- if $.FreshEyeRender -}}
                <a href="/book/{{ .ID }}/read?url={{ .URL }}" class="dropdown-item">No Fresh Eye</a>
              {{- else -}}
                <label class="dropdown-item">
                  <input type="checkbox" class="marks-toggler" checked></input>
                    Show marks
                </label>
                <a href="/book/{{ .ID }}/read?url={{ .URL }}&fe=1" class="dropdown-item">Fresh Eye</a>
              {{- end }}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 fragments">
        {{- range $index, $f := .Fragments -}}
          <p class="read__fragment" data-fid="{{ .ID }}"{{ if ne (inc $index) .ID }} data-seq="{{ inc $index }}"{{ end }}>
            {{- if $.FreshEyeRender -}}
              {{- call $.FreshEyeRender $index -}}
            {{- else -}}
              {{- if gt (len .Versions) 0 -}}
                {{- $v := index .Versions 0 -}}
                {{- renderWithMarks $v.Text $v.Marks -}}
              {{- else -}}
                {{- render .Text -}}
              {{- end -}}
            {{- end -}}
          </p>
        {{- end -}}
      </div>
    </div>
  </body>
</html>
