<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ .Title }} - Read</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li>
            <a href="/">Index</a>
          </li>
          <li>
            <a href="{{ if .URL }}{{ .URL }}{{ else }}/book/{{ .ID }}{{ end }}">{{ .Title }}</a>
          </li>
          <li class="active">
            <a href="/book/{{ .ID }}/read?url={{ .URL }}">Read</a>
          </li>
        </ul>
      </nav>

      <div style="float: right;">
        {{ if .LastVariants }}
          <a href="/book/{{ .ID }}/read?url={{ .URL }}">First</a>
        {{ else }}
          First
        {{ end }}
        |
        {{ if .LastVariants }}
          Last
        {{ else }}
          <a href="/book/{{ .ID }}/read?last=1&url={{ .URL }}">Last</a>
        {{ end }}
      </div>

      <br>

      {{- range .Fragments }}
        <p class="text">
          {{- if gt (len .Versions) 0 -}}
            {{- if $.LastVariants -}}
              {{- render ((index .Versions (dec (len .Versions))).Text) -}}
            {{- else -}}
              {{- render ((index .Versions 0).Text) -}}
            {{- end -}}
          {{- else -}}
            {{- render .Text -}}
          {{- end -}}
        </p>
      {{- end }}
    </div>
  </body>
</html>
