<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/markdown-it.min.js"></script>
    <script src="/js/scratchpad.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>{{ .Book.Title }} - Scratchpad</h1>

      <nav>
        <ul class="nav nav-tabs">
          <li>
            <a href="/">Index</a>
          </li>
          <li>
            <a href="{{ if .URL }}{{ .URL }}{{ else }}/book/{{ .Book.ID }}{{ end }}">{{ .Book.Title }}</a>
          </li>
          <li class="active">
            <a href="/book/{{ .Book.ID }}/scratchpad?url={{ .URL }}">Scratchpad</a>
          </li>
        </ul>
      </nav>

      <br>

      {{ if not .Edit }}
        <a href="/book/{{ .Book.ID }}/scratchpad?edit=1&url={{ .URL }}" class="btn btn-default">
          Edit
        </a>
        <br>
        <br>
      {{ end }}

      <div class="row">
        <form action="/book/{{ .Book.ID }}/scratchpad?url={{ .URL }}" method="POST"
          style="{{ if not .Edit }}display: none;{{ end }}">
          <div class="form-group">
            <textarea id="markup" name="text" class="form-control" rows="10" autofocus>
              {{- .Text -}}
            </textarea>
          </div>
          <div class="form-group">
            <button id="button-save" type="submit" class="btn btn-default pull-right">
              Save
            </button>
          </div>
        </form>
      </div>

      <div id="markdown-it"></div>

    </div>
  </body>
</html>
