<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/bootstrap.min.css" }}">
    <link type="text/css" rel="stylesheet" href="{{ static_path "/css/my-new.css" }}">
  </head>
  <body>
    <div class="container snr-preview">
      <br>
      <form class="form" action="/book/{{ .ID }}/snr" method="POST">
        <input type="hidden" name="search" value="{{ .Search }}">
        <input type="hidden" name="replace-with" value="{{ .ReplaceWith }}">
        <input type="hidden" name="confirm" value="1">
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary button-replace">
              Replace
            </button>
            <a class="btn btn-default" href="/book/{{ .ID }}">Back to the book</a>
          </div>
        </div>
      </form>
      <table class="table diff">
        <thead>
          <tr>
            <th>#</th>
            <th>Before</th>
            <th>After</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Preview }}
            <tr class="diff-row">
              <td><a class="fragment-permalink link--gray" href="/book/{{ $.ID }}/{{ .ID }}">#{{ .SeqNum }}</td>
              <td>{{ .Before }}</td>
              <td>{{ .After }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </body>
</html>

